/*
 * Name:        Boo Theme Custom
 * Description: Add here all your CSS customizations
 */
body > nav.navbar {
    margin-bottom: 0;
}
#profileForm select {
    background-image: linear-gradient(45deg, transparent 50%, #a7a7a7 50%), linear-gradient(135deg, #a7a7a7 50%, transparent 50%), linear-gradient(to right, #ccc, #ccc);
    background-position: calc(100% - 19px) 27px, calc(100% - 10px) 27px;
    background-size: 9px 9px, 9px 9px, 0px 0;
    background-repeat: no-repeat;
}

#profileForm  select::-ms-expand {
    display: none;
}
#profileForm select {
    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 1px;
    text-overflow: '';
}
#fruits-button, #meat-button, #vegetables-button, #dairy-button, #others-button {
    display: none;
}


.lightbox-video .hover-line .icon:before{
    font-size: 44px;
}
.lightbox-video .hover-line span{
position: relative;
left: calc(50% - 84px);
top: calc(50% - -17px);
color: #f42958;
font-size: 14px;
}

/*.select-dropdown{*/
/*display: block!important;*/
/*min-height: 115px;*/
/*}*/
/*#activity, #diet, #sex{*/
/*display: none!important;*/
/*}*/
.select2.select2-container {
    display: none !important;
}

.icon-box-shadow-onhover {
    padding: 10px 20px;
}

.icon-box.text-left .icon-container {
    margin-right: 25px;
}

.icon-box-heading-md {
    margin-bottom: 0;
}

hr {
    margin: 0;
    width: 100%;
}

/** Common style**/
label.error {
    font-size: 11px;
    position: absolute;
    top: -28px;
    right: -15px;
    z-index: 99;
    height: 25px;
    line-height: 25px;
    background-color: #e34f4f;
    color: #fff;
    font-weight: normal;
    padding: 0 6px;
}

label.error:after {
    content: '';
    position: absolute;
    border-style: solid;
    border-width: 0 6px 6px 0;
    border-color: transparent #e34f4f;
    display: block;
    width: 0;
    z-index: 1;
    bottom: -6px;
    left: 20%;
}

#frmPaymentRedirect .form-group {
    display: block;
    position: relative;
}

#frmPaymentRedirect label {
    display: block;
}

#frmPaymentRedirect #select2 {
    display: none;
}
#frmPaymentRedirect .col-sm-6{
    display: inline-block;
    float:left;
}
#frmPaymentRedirect input[type="text"], #frmPaymentRedirect select, #frmPaymentRedirect textarea {
    width: 100%;
    height: 40px;
    line-height: 40px;
    border: 1px solid #dddfe0;
    border-radius: 2px;
    padding: 0 20px;
    color: #000;
}
#frmPaymentRedirect input[type="checkbox"]{
    margin-top: 5px;
    margin-right: 10px;
}
.tac {
    text-align: center;
}

.cta a {
    color: #fff;
    font-size: 15px;
    padding: 15px 18px;
    clear: both;
    display: inline-block;
    position: relative;
}

.cta.menu-item a {
    color: #fff;
    font-size: 11px;
    padding: 10px 12px;
}

.cta.menu-item a:hover {
    color: #fff;

}

.strong {
    font-size: 22px;
    color: #000;
}

.checkbox-alert {
    position: relative;
    padding: 0.75rem 1.25rem;
    margin-bottom: 1rem;
    display: none;
    border-radius: 0.25rem;
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
}

.alert-close {
    height: 28px !important;
    float: right;
    cursor: pointer;
    font-size: 24px;
    font-weight: 600;
    line-height: 30px;
    color: #721c24;
    /* text-shadow: 0 1px 0 #fff; */
    padding-left: 50px;
}

.ckbox-group {
    width: 16.6%;
    float: left;
    display: inline-block;
}

.ckbox-group label {
    margin-bottom: 0;
}

#profileForm hr {
    margin-top: 10px;
    margin-bottom: 10px;
}

.contact-form input[type="submit"] {
    display: inline-block;
    /* float: left; */
    padding-right: 30px;
    width: auto;
    padding-left: 30px;
    margin-left: 25px;
}

.right {
    float: right;
}

strong.red {
    color: red;
}

btn:not([disabled]):not(.disabled):active, .btn:not([disabled]):not(.disabled).active {
    background-image: linear-gradient(137deg, #f42a59 0%, #e84227 100%);
}

@-webkit-keyframes lightbox-line {
    0% {
        -webkit-transform: translate(0%, -100%);
        transform: translate(0%, -100%)
    }

    100% {
        -webkit-transform: translate(0%, 200%);
        transform: translate(0%, 200%)
    }
}

@keyframes lightbox-line {
    0% {
        -webkit-transform: translate(0%, -100%);
        transform: translate(0%, -100%)
    }

    100% {
        -webkit-transform: translate(0%, 200%);
        transform: translate(0%, 200%)
    }
}

.lightbox-video {
    position: relative;
    display: flex;
    flex: 1 auto
}

.lightbox-video .sidetext {
    width: 10px;
    position: absolute;
    bottom: 0;
    left: -35px;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-perspective: 1200px;
    perspective: 1200px;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden
}

.lightbox-video .more {
    position: relative
}

.lightbox-video .more .btn {
    right: 0;
    position: absolute;
    font-size: .92857em;
    line-height: 10px;
    white-space: nowrap;
    text-transform: uppercase;
    letter-spacing: 0.15em;
    color: #000;
    opacity: 0.3;
    -webkit-transform: rotate(-270deg);
    transform: rotate(-270deg);
    -webkit-transform-origin: 100% 0;
    transform-origin: 100% 0
}

.lightbox-video .more .btn:after {
    content: "\f178";
    font-family: 'FontAwesome';
    position: relative;
    color: inherit;
    font-size: 1em;
    margin-left: 1em
}

.lightbox-video .more .btn:focus, .lightbox-video .more .btn:active, .lightbox-video .more .btn:hover {
    opacity: 1;
    -webkit-transform: rotate(-270deg) translateX(5px) !important;
    transform: rotate(-270deg) translateX(5px) !important
}

.lightbox-video .hover-line {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 2
}

.lightbox-video .hover-line .icon {
    width: 24px;
    height: 24px;
    position: relative;
    left: calc(50% - 12px);
    top: calc(50% - 12px);
    color: #f42958;
    font-size: 24px
}

.lightbox-video .hover-line .line {
    position: absolute;
    width: 1px;
    height: 100%;
    top: 0
}

.lightbox-video .hover-line .line:before, .lightbox-video .hover-line .line:after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 1px;
    height: 100%;
    background: #f42958
}

.lightbox-video .hover-line .line:before {
    opacity: 0.2
}

.lightbox-video .hover-line .line:after {
    top: -100%
}

.lightbox-video .hover-line .line.left {
    left: 33%
}

.lightbox-video .hover-line .line.right {
    left: 67%
}

.lightbox-video .hover-line .line.right:before {
    left: 67%
}

.lightbox-video .lightbox-link {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 4
}

.lightbox-video figure {
    position: relative;
    overflow: hidden;
    flex: 1 auto;
    margin: 0
}

.lightbox-video figure img {
    width: 100%;
    height: auto;
    visibility: hidden
}

.lightbox-video figure:hover .line:after {
    -webkit-animation: lightbox-line 1.5s infinite;
    animation: lightbox-line 1.5s infinite
}

.lightbox-video figure:hover .line.right:after {
    -webkit-animation-delay: 0.75s;
    animation-delay: 0.75s
}

.lightbox-video [data-parallax-bg] {
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    background-position: center top
}

.lightbox-video [data-parallax-bg] .parallax-img-container {
    width: 120%
}

.lightbox-video [data-parallax-bg] .section-parallax-img {
    width: auto;
    height: 118% !important;
    max-width: none;
    visibility: visible;
    -webkit-transition: none;
    transition: none;
    font-family: inherit
}

.lightbox-video [data-parallax-bg] .parallax-img-parent, .lightbox-video [data-parallax-bg] .parallax-img-container {
    height: 100% !important;
    max-height: 100% !important
}

.TestimonialsPage .content-box-img:hover img, .TestimonialsPage .content-box-img:hover .btn::before, .TestimonialsPage .content-box-img:hover .content-box-link::before {
    opacity: .8;
}

.TestimonialsPage .content-box-img.--grey figure {
    background-image: linear-gradient(120deg, #868686 0%, #454548 100%);
}

.form-section {
}

.steps-icon {
    font-size: 44px !important;
    margin-left: -7px;
    margin-top: 38px;
    transform: rotate3d(0, 0, 1, -45deg);
}
/*#slide-20-layer-48 {*/
    /*min-width: 280px !important;*/
    /*font-size: 12px !important;*/
    /*min-height: 50px!important;*/
    /*max-height: 50px!important;*/
    /*padding-top: 35px!important;*/
    /*padding-left: 25px!important;*/
    /*margin:0!important;*/
/*}*/

#cookie-bar {
    position: fixed;
    bottom: 0px;
    left: 0px;
    background: #fff;
    width: 100%;
    padding: 10px 0px 10px 0;
    border-top: 1px solid #cecece;
    -webkit-box-shadow: 0px -2px 5px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px -2px 5px rgba(0, 0, 0, 0.2);
    box-shadow: 0px -2px 5px rgba(0, 0, 0, 0.2);
    zoom: 1;
    filter: alpha(opacity=90);
    opacity: 0.9;
    text-align: left !important;
}
#cookie-bar.fixed {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}
#cookie-bar.fixed.bottom {
    bottom: 0;
    top: auto;
}
#cookie-bar p {
    font-size: 11px;
    line-height: 14px;
    color:#666;
    padding: 0;
    max-width: 990px;
    margin: 0 auto;
    padding-bottom: 10px;

}
#cookie-bar a {
    font-size: 12px;
    line-height: 14px;
    color: #ffffff;
    display: inline-block;
    float: right;
    text-decoration: underline;
    padding: 6px ;
    margin-right: 8px;
}
#cookie-bar span{
    display: block;
    padding: 0 10px;
}
#cookie-bar span a{
    margin: 0;
    padding: 0;
    color: #2c2e31;
    float: none;
}
#cookie-bar .cb-enable {
    text-decoration: none;
    margin-top: -13px;
    padding-left: 12px;
    padding-right: 12px;
    background:  #E93A3A;
    text-transform: uppercase;
    font-weight: 700;

}

#cookie-bar .cb-enable:hover {
    background: #573119;
    color: #E93A3A !important;
}
.privacy-wrap #privacy-error{
    right: auto;
    left: 50px;
}
#frmPaymentRedirect{

}
#frmPaymentRedirect input[type="submit"] {
    display: block;
    float: right;
    width: auto;
    background-color: #f42958!important;
    color: #fff;
    padding: 10px 20px;
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
    border-color: transparent;
    letter-spacing: 1.5px;
    margin-bottom: 30px;
    text-transform: uppercase;
    font-weight: 700;
    border-radius: 2px;
    margin-top: 0px;
}
@media (max-width: 1280px) {
    #slide-20-layer-3 {
        font-size: 16px !important;
        min-width: 500px !important;
        line-height: 26px !important;
        min-height: 60px!important;
    }

    #slide-20-layer-45 {
        font-size: 16px !important;

    }

    #slide-20-layer-44 {
        min-width: 190px !important;
        font-size: 14px !important;
    }

    #slide-20-layer-48 {

        font-size: 11px !important;

        padding-top: 50px !important;
    }

    #slide-20-layer-46 {
        font-size: 13px !important;
    }
}

@media (max-width: 1200px) {
    .ckbox-group {
        width: 20%;
    }

}
@media (max-width: 1180px) {
    #slide-20-layer-48 {
        padding-top: 80px !important;

    }
}
@media (max-width: 1080px) {
    #slide-20-layer-48 {
        padding-top: 95px !important;

    }
    #slide-20-layer-3 {
        font-size: 14px !important;
        line-height: 23px !important;
        min-height: 50px!important;
    }
    #slide-20-layer-45 {
        font-size: 14px !important;
    }
}
@media (max-width: 1040px) {
    #slide-20-layer-36{
        margin-left: 200px!important;
    }
    #slide-20-layer-44{
        line-height: 74px!important;
        min-height: 70px!important;
        max-height: 70px!important;
    }
    #slide-20-layer-3 {
        margin-top: 30px!important;
    }
}
@media (max-width: 794px) {
    #slide-20-layer-36,  #slide-20-layer-3,  #slide-20-layer-44, #slide-20-layer-48{
        z-index:26!important;
    }
    #slide-20-layer-54{
        display: none!important;
    }
}
@media (max-width: 991px) {
    .mobile-header-container .btn {
        display: block;
        width: 220px;
        font-size: 12px;
        padding: 0px;
        margin-bottom: 10px;
    }

    .ckbox-group {
        width: 25%;
    }

    .contact-form form {

        padding-bottom: 0;
    }

    .carousel-nav {
        margin-top: 20px;
    }

    section.section {

        padding-top: 3em !important;
        padding-bottom: 3em !important;
    }

    .menu-item.cta {
        display: none !important;
    }

    .titlebar {

        margin-bottom: 50px;
    }

}

@media (max-width: 768px) {
    .cd-google-map.contents-style2 .marker-contents, .cd-google-map.contents-style3 .marker-contents {
        left: 5%;
        right: 5%;
        min-width: 100px;
        top: 80%;
        visibility: visible;
        /* min-width: 445px; */
        -webkit-transform: translateY(-50%);
        transform: translateY(-50%);
    }

    .cd-google-map.contents-style2 .contents-inner .details p, .cd-google-map.contents-style3 .contents-inner .details p {

        font-size: 13px;
    }

    .cd-google-map.contents-style2 .contents-inner .details h3 p, .cd-google-map.contents-style3 .contents-inner .details h3 p {
        font-size: 20px;
        line-height: 30px;
    }

    .cd-google-map.contents-style2 .contents-inner .details, .cd-google-map.contents-style3 .contents-inner .details {
        padding: 20px;
    }

    .AboutPage #section-1 {
        padding-top: 6em !important;
    }

    #content .icon-box.icon-box-side .icon-container, #content .icon-box.icon-box-side.align-right .icon-container {

        margin-bottom: 15px;
    }

    .about-section .btn.round {

        width: 100%;

        margin-bottom: 20px;
    }

    .btn + .btn {
        margin-left: 0;
    }

    .contact-default .ui-selectmenu-button, .contact-default select, .contact-default input, .contact-default button {
        height: 44px;
        line-height: 44px;
    }

    .contact-form form {
        text-align: left;
    }

    .ckbox-group {
        width: 50%;
    }

    .tabs-title-naked .nav-tabs li {

        font-size: 3em;
    }

    .pt-100 {
        padding-top: 25px !important;
    }

    .pb-130 {
        padding-bottom: 25px !important;
    }
    #slide-20-layer-36 {
        margin-left: 144px!important;
        font-size: 70px!important;
    }
}

@media (max-width: 620px) {
    #slide-20-layer-36 {
        margin-left: 138px!important;
        font-size: 56px!important;
    }
    #slide-20-layer-44 {
        line-height: 53px!important;
        min-height: 50px!important;
        max-height: 50px!important;
    }
}
@media (max-width: 543px) {
    .section-title-default h2 {
        font-size: 2.42857em;
    }

    .contact-form p {
        margin-bottom: 1em;
    }

    .contact-default-primary form > .row {

        padding-bottom: 1em;
    }

    .testimonials-banner-section, .testimonials-banner-section .text-left {
        text-align: right !important;

    }
    #slide-20-layer-36 {
        margin-left: auto !important;
        margin-top: 70px!important;
    }
}

